# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project-specific
logs/
models/
*.zip

# IDEs
.idea/
.vscode/
*.swp
